/*
body
{
	background-color: gray;
}

nav.top
{
	display: block;
	border: 2px solid black;
	padding: 10px 48% 10px 48%;
	text-align: left;
	background: black;
	border-radius: 1vmin;
	font-size: 20px;
	margin-bottom: 3px;
}

a
{
	text-decoration: none;
	font-weight: bold;
	color: red;
}

a:hover
{
	text-decoration: underline;
}

nav.left
{
	background: black;
	border: 2px solid black;
	margin-right: 80%;
	padding: 10px 10px 50% 10px;
	border-radius: 1vmin;
}
*/

li a
{
	color: gray;
	font-weight: bold;
	word-wrap: break-word;
}

li.liste
{
	border: 2px solid gray;
	background-color: #222;
	border-radius: 1vmin;
}